.users{
    text-align: center;
    width: 500px;
    margin: 0 auto;
   ul{
       list-style: none;
       border:none;
       border-radius: 8px;
       box-shadow: 0 0 2px 0 rgb(41, 41, 57);
       padding: 10px;
       margin-bottom: 10px;
       background-color: #bbe0ec;
   } 
}